:root {
    --text-color: Black;
    --divider-color: Grey;
    --background-color: White;
    --button-color: White;
    --co-op-color: SkyBlue;
    color-scheme: light dark;
    font-family: "Inter", system-ui, sans-serif;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
}

h1 {
    text-align: center;
}

h2, h3, h4 {
    scroll-margin-top: 20px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #DBDEE1;
        --background-color: #1E1F22;
    }
}
